<!DOCTYPE html>
<html>
  <head>
    <title>Packs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/packs.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
        var data = {
            "packs": [
                {
                    "name": "Pack One",
                    "thumbnail": "http://static9.moo.com/images/homepage/thumbs-christmas/thumb-xmas-us.jpg",
                    "paperStock": "luxe",
                    "quantity": 50,
                    "type": "business-card"
                },
                {
                    "name": "Pack Two",
                    "thumbnail": "http://static4.moo.com/images/heydaythumb.jpg",
                    "paperStock": "standard",
                    "quantity": 100,
                    "type": "mini-card"
                },
                {
                    "name": "Pack Three",
                    "thumbnail": "http://static2.moo.com/images/luxe/hompeage-slideshow-thumb.jpg",
                    "paperStock": "green",
                    "quantity": 50,
                    "type": "business-card",
                    "extras": "rounded-corners"
                },
                {
                    "name": "Pack Four",
                    "thumbnail": "http://static9.moo.com/images/stickers/product-labels-slidethumb.jpg",
                    "paperStock": "standard",
                    "quantity": 200,
                    "type": "rounded-sticker"
                }
            ]
        };
    </script>

    <script type="text/template" id="packtpl">
      <li class="pack">
        <img src="<%= thumbnail %>" width="74" height="74">
        
        <div class="info">
          <span class="name"><%= name %></span><br>
          Paper Stock: <span class="paperStock"><%= paperStock %></span><br>
          Card quantity: <span class="quantity"><%= quantity %></span><br>
          Type: <span class="type"><%= type %></span><br>
        </div>
      </li>
    </script>
  </head>
  <body>
    <header>
        <h1>Your Packs</h1>

        <div class="btn-group" id="sort">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort <span class="caret"></span>
          </button>
          
          <ul class="dropdown-menu" role="menu">
            <li data-sort="name" data-sort-type="string"><a href="#">Name</a></li>
            <li data-sort="paperStock" data-sort-type="string"><a href="#">Paper Stock</a></li>
            <li data-sort="quantity" data-sort-type="number"><a href="#">Quantity</a></li>
            <li data-sort="type" data-sort-type="string"><a href="#">Type</a></li>
            <li class="divider"></li>
            <li data-sort="none"><a href="#">None</a></li>
          </ul>
        </div>
    </header>

    <main id="sortable">
        <ol id="packs">
            
        </ol>
    </main>

    <script src="js/underscore-min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/packs.js"></script>

  </body>
</html>
